@import url('https://fonts.googleapis.com/css2?family=Geist+Sans:wght@400;500;600&family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

.dark .prose-dark {
  --tw-prose-body: #e5e7eb;
  --tw-prose-headings: #ffffff;
  --tw-prose-lead: #a1a1aa;
  --tw-prose-links: #ffffff;
  --tw-prose-bold: #ffffff;
  --tw-prose-counters: #a1a1aa;
  --tw-prose-bullets: #715cd7;
  --tw-prose-hr: #404040;
  --tw-prose-quotes: #f3f4f6;
  --tw-prose-quote-borders: #715cd7;
  --tw-prose-captions: #a1a1aa;
  --tw-prose-code: #ffffff;
  --tw-prose-pre-code: #d1d5db;
  --tw-prose-pre-bg: #1f2937;
  --tw-prose-th-borders: #404040;
  --tw-prose-td-borders: #374151;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
